.sidenavLeft {
  width: 15%;
  position: fixed;
  z-index: -1;
  top: 7.5%;
  left: 2.4%;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidenavRight {
  width: 15%;
  position: fixed;
  z-index: -1;
  top: 7.5%;
  left: 82.6%;
  overflow-x: hidden;
  padding: 8px 0;
}