.addLeft {
  width: 15%;
  position: fixed;
  z-index: -1;
  top: 7.5%;
  left: 2.4%;
  overflow-x: hidden;
  padding: 8px 0;
}
.addRight {
  width: 15%;
  position: fixed;
  z-index: -1;
  top: 7.5%;
  left: 82.6%;
  overflow-x: hidden;
  padding: 8px 0;
}
.advertisement {
  margin: 0px;
  width: 10%;
  height: 10%;
}
.subb {
  margin: 0px;
}