:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);

}
.contaner_copy{
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
  border-top: 3px solid var(--blue);

}

h1{
  padding-bottom: 5px;
}

.descrip{
  padding-bottom: 5px;
}

.lan{
  font-weight: bold;
  padding-bottom: 8px;
}