.contenedor{
    background-color: #2c333d;
    width: 15%;
    height: 100vh;
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    position: fixed;
    top: 60px;
}
.item{
    text-decoration: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 0px;
    line-height: 50px;
    z-index: 10;
}
.item:hover{
    background-color: #4e5966;
    box-shadow: 0 0 .5rem #fff;

}
.btn{
    width: 90%;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    border-radius: 30px;
    border: 2px solid #fff;
    text-align: center;
    transition: background-color .5s ease-in-out;
    margin: 2rem;

}
.btn:hover{
    background-color: #fff;
    color: #577385;
    transition: background-color .5s ease-in-out;
}
.line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 2rem;

}
.btnAbrir{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 40%;
    right: -35px;
    width: 70px;
    height: 70px;
    background-color: #242a31;
    border-radius: 50%;
    border: 3px dashed #fff;
    clip-path: inset(0 0 0 49%);
    padding-right: 5px;
    cursor: pointer;
}
.arrowL{
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("assets/left-arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btnCerrar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 40%;
    right: -35px;
    width: 70px;
    height: 70px;
    background-color: #242a31;
    border-radius: 50%;
    border: 3px dashed #fff;
    clip-path: inset(0 0 0 49%);
    padding-right: 5px;
    cursor: pointer;
}
.arrowR{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("assets/left-arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
