/* Div inputs width 100%*/
.MuiOutlinedInput-root{
    width: 100%;
    color: "#fffff" I !important;
    
}

.title-login{
    text-align: center;
    margin-bottom: 10px;
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.title-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    height: 55vh;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.fields-form{
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.section-link{
    width: 100%;
    display: flex;
    align-items: center;
    color:white
}
