@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Fredoka", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Fredoka", sans-serif;
}
